<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Собачуля все промокоды тут</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table
      style="
        border-collapse: collapse;
        text-align: center;
        max-width: 600px;
        width: 100%;
      "
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <center style="max-width: 600px; width: 100%">
        <table
          style="
            border-collapse: collapse;
            text-align: center;
            background: #fafafa;
            font-family: Roboto;
          "
          border="0"
          cellspacing="0"
          cellpadding="0"
          align="center"
        >
          <tr>
            <td align="center">
              <img
                style="
                  display: block;
                  text-align: center;
                  width: 123px;
                  height: 64px;
                  margin-top: 21px;
                "
                src="https://i.ibb.co/hRc8Vxt/18827-01-1.png"
                alt="Лого Собачуля"
              />
              <span
                style="
                  display: block;
                  font-style: normal;
                  font-weight: 900;
                  font-size: 30px;
                  line-height: 32px;
                  color: #6c5ce7;
                "
                >Собачуля</span
              >
              <span
                style="
                  font-style: normal;
                  font-weight: 900;
                  font-size: 14px;
                  line-height: 32px;
                  color: #ffb33a;
                "
                >все промокоды тут</span
              >
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://i.ibb.co/WcbXBqj/promo-baner.png"
                alt="Промо банер Собачуля"
                style="width: 100%; max-width: 600px"
              />
            </td>
          </tr>
          <tr>
            <td style="padding: 21px; text-align: center">
              <div
                style="
                  margin: auto;
                  max-width: 486px;
                  width: 100%;
                  min-height: 210px;
                  background: #ffffff;
                  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                  border-radius: 16px;
                  margin-bottom: 23px;
                "
              >
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing: 0"
                >
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 10px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: #222222;
                      "
                    >
                      <img
                        style="margin-bottom: 2px; width: 51px; height: 51px"
                        src="https://i.ibb.co/TBzqDR4/Group-69.png"
                        alt="Логотип Экомаркет"
                      />
                      <span
                        style="
                          display: block;
                          color: #43b02a;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 14px;
                          letter-spacing: 0.2px;
                          line-height: 24px;
                        "
                        >Экомаркет. Быстрая доставка органических продуктов!
                      </span>
                      <span
                        style="
                          display: block;
                          font-weight: 900;
                          font-size: 22px;
                          line-height: 24px;
                          color: #535353;
                          margin-top: 18px;
                          margin-bottom: 5px;
                        "
                        >Скидка 20% на первый заказ</span
                      >
                      <div style="display: block;">
                        <span
                          style="
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                            color: #6c5ce7;
                          "
                          >Промокод</span
                        >
                        <span
                          style="
                            vertical-align: middle;
                            width: 136px;
                            height: 45px;
                            display: inline-block;
                            border: 2px dashed #6c5ce7;
                            box-sizing: border-box;
                            border-radius: 4px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 16px;
                            color: #535353;
                            margin: 15px;
                          "
                          ><p style="margin: 11px">DOMA</p></span
                        >
                        <a
                          style="
                            display: inline-block;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-decoration: none;
                            max-width: 160px;
                            width: 100%;
                            height: 45px;
                            color: #ffffff;
                            background: #ffb339;
                            border-radius: 24px;
                          "
                          href="https://spb.ecomarket.ru/"
                          target="_blank"
                          ><p>Перейти в магазин</p></a
                        >
                    </td>
                  </tr>
                </table>
              </div>
              <div
                style="
                  margin: auto;
                  max-width: 486px;
                  width: 100%;
                  min-height: 210px;
                  background: #ffffff;
                  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                  border-radius: 16px;
                  margin-bottom: 23px;
                "
              >
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing: 0"
                >
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 10px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: #222222;
                      "
                    >
                      <img
                        style="margin-bottom: 2px; width: 51px; height: 51px"
                        src="https://i.ibb.co/L0Lnxgd/image-11.png"
                        alt="Логотип Азбука Вкуса"
                      />
                      <span
                        style="
                          display: block;
                          color: #4c721d;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 14px;
                          letter-spacing: 0.2px;
                          line-height: 24px;
                        "
                        >Азбука вкуса. Интернет магазин по доставке продуктов!
                      </span>
                      <span
                        style="
                          display: block;
                          font-weight: 900;
                          font-size: 22px;
                          line-height: 24px;
                          color: #535353;
                          margin-top: 18px;
                          margin-bottom: 5px;
                        "
                        >Скидка 10% на первый заказ</span
                      >
                      <div style="display: block;">
                        <span
                          style="
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                            color: #6c5ce7;
                          "
                          >Промокод</span
                        >
                        <span
                          style="
                            vertical-align: middle;
                            width: 136px;
                            height: 45px;
                            display: inline-block;
                            border: 2px dashed #6c5ce7;
                            box-sizing: border-box;
                            border-radius: 4px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 16px;
                            color: #535353;
                            margin: 15px;
                          "
                          ><p style="margin: 11px">HELO</p></span
                        >
                        <a
                          style="
                            display: inline-block;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-decoration: none;
                            max-width: 160px;
                            width: 100%;
                            height: 45px;
                            color: #ffffff;
                            background: #ffb339;
                            border-radius: 24px;
                          "
                          href="https://av.ru/"
                          target="_blank"
                          ><p>Перейти в магазин</p></a
                        >
                    </td>
                  </tr>
                </table>
              </div>
              <div
                style="
                  margin: auto;
                  max-width: 486px;
                  width: 100%;
                  min-height: 210px;
                  background: #ffffff;
                  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                  border-radius: 16px;
                  margin-bottom: 23px;
                "
              >
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing: 0"
                >
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 10px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: #222222;
                      "
                    >
                      <img
                        style="margin-bottom: 2px;
                        width: 120px;
                        height: 45px;"
                        src="https://i.ibb.co/PZrPK7v/1.png"
                        alt="Логотип ВкусВилл"
                      />
                      <span
                        style="
                          display: block;
                          color: #36ba5f;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 14px;
                          letter-spacing: 0.2px;
                          line-height: 24px;
                          margin-bottom: 5px;
                        "
                        >ВкусВилл. Фермерские продукты, доставка в день заказа!
                      </span>
                      <span
                        style="
                      font-weight: 900;
                      font-size: 18px;
                      line-height: 20px;
                      color: #535353;
                      margin-top: 5px;
                      margin-bottom: 5px;
                        "
                        >Скидка 150 рублей на первый заказ <br />
                        от 500 рублей</span
                      >
                      <div style="display: block;">
                        <span
                          style="
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                            color: #6c5ce7;
                          "
                          >Промокод</span
                        >
                        <span
                          style="
                            vertical-align: middle;
                            width: 136px;
                            height: 45px;
                            display: inline-block;
                            border: 2px dashed #6c5ce7;
                            box-sizing: border-box;
                            border-radius: 4px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 16px;
                            color: #535353;
                            margin: 15px;
                          "
                          ><p style="margin: 11px">VKC860AR</p></span
                        >
                        <a
                          style="
                            display: inline-block;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-decoration: none;
                            max-width: 160px;
                            width: 100%;
                            height: 45px;
                            color: #ffffff;
                            background: #ffb339;
                            border-radius: 24px;
                          "
                          href="https://spb.vkusvill.ru/"
                          target="_blank"
                          ><p>Перейти в магазин</p></a
                        >
                    </td>
                  </tr>
                </table>
              </div>

              <div
                style="
                  margin: auto;
                  max-width: 486px;
                  width: 100%;
                  min-height: 210px;
                  background: #ffffff;
                  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                  border-radius: 16px;
                  margin-bottom: 23px;
                "
              >
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-spacing: 0"
                >
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 10px;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: #222222;
                      "
                    >
                      <img
                        style="margin-bottom: 2px; width: 51px; height: 51px"
                        src="https://i.ibb.co/ZNHZrZj/image-12.png"
                        alt="Логотип Биостория"
                      />
                      <span
                        style="
                          display: block;
                          color: #43b02a;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 14px;
                          letter-spacing: 0.2px;
                          line-height: 24px;
                        "
                        >Биостория
                      </span>
                      <span
                        style="
                          display: block;
                          font-weight: 900;
                          font-size: 22px;
                          line-height: 24px;
                          color: #535353;
                          margin-top: 18px;
                          margin-bottom: 5px;
                        "
                        >Скидка 15% на первый заказ</span
                      >
                      <div style="display: block;">
                        <span
                          style="
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                            color: #6c5ce7;
                          "
                          >Промокод</span
                        >
                        <span
                          style="
                            vertical-align: middle;
                            width: 136px;
                            height: 45px;
                            display: inline-block;
                            border: 2px dashed #6c5ce7;
                            box-sizing: border-box;
                            border-radius: 4px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 16px;
                            color: #535353;
                            margin: 15px;
                          "
                          ><p style="margin: 11px">BIO10</p></span
                        >
                        <a
                          style="
                            display: inline-block;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            text-decoration: none;
                            max-width: 160px;
                            width: 100%;
                            height: 45px;
                            color: #ffffff;
                            background: #ffb339;
                            border-radius: 24px;
                          "
                          href="http://www.biostoria.ru/"
                          target="_blank"
                          ><p>Перейти в магазин</p></a
                        >
                    </td>
                  </tr>
                </table>
              </div>
          <tr>
            <td>
              <table
              width="100%"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing: 0"
            >
              <div
                style="
                  display: block;
                  text-align: left;
                  height: 105px;
                  background: #ffb33a;
                  padding-left: 33px;
                  padding-top: 21px;
                "
              >
                <img
                style="display: block;"
                  src="https://i.ibb.co/RHp4pDW/image.png"
                  alt="Лого Собачуля"
                />
                <img
                  style="margin-bottom: 12px;
                  display: block;
                "
                  src="https://i.ibb.co/yyy0qms/image.png"
                  alt="Все промокоды"
                />
                <a
                  href="#"
                  style="
                    color: #ffffff;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 5px;
                  "
                  ><img
                    style="margin-right: 13px"
                    src="https://i.ibb.co/NC7tnj3/email-1.png"
                    alt="Изображение почты"
                  />
                  sobachulya.promokod@mail.ru</a
                >
                <a
                  href="#"
                  style="
                    display: block;
                    color: #ffffff;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                  "
                  ><img
                    style="margin-right: 13px"
                    src="https://i.ibb.co/d6Sf87m/Vector.png"
                    alt="Изображение телефона"
                  />
                  8 (985) 447-70-85</a
                >
              </div>
            </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 13px; padding-bottom: 16px">
              <a
                style="
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 16px;
                  text-align: center;
                  letter-spacing: 0.2px;
                  text-decoration-line: underline;
                  color: #cecece;
                "
                href="https://sobachulya.ru/"
                >Отписаться от рассылки</a
              >
            </td>
          </tr>
        </table>
      </center>
    </table>
  </body>
</html>
